<app-page-header [title]="category?.name" [breadcrumbs]="breadcrumbs"></app-page-header>
<div class="container">
  <div class="panel margin-bottom">
    <div class="panel-body">
      <table>
        <thead>
          <tr>
            <th class="align-left" width="40%">
              {{category?.name}}
            </th>
            <th class="align-center" width="10%">
              Threads
            </th>
            <th class="align-center" width="10%">
              Posts
            </th>
            <th class="align-left hide-on-mobile" width="30%">
              Last Thread
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sub of subcategories">
            <td class="align-left">
              <div><a (click)="routeToSubcategory(sub.id)">{{sub.name}}</a></div>
              <div>{{sub.description}}</div>
            </td>
            <td class="align-center">
              <div>{{sub.thread_count}}</div>
            </td>
            <td class="align-center">
              <div>{{sub.post_count}}</div>
            </td>
            <td class="align-left hide-on-mobile">
              <div *ngIf="sub.last_thread">
                <a (click)="routeToThread(sub.last_thread)">
                  {{sub.last_thread_title}}
                </a>
                <div>{{sub.last_thread_created|date:"MMM dd, yyyy, h:mm a"}}</div>
                <div>by
                  <a routerLink="/board/profile/" [innerHTML]="sanitize(sub.last_thread_user)"></a>
                </div>
              </div>
              <div *ngIf="!sub.last_thread">
                No Threads
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
