<app-page-header [title]="'Home'"></app-page-header>
<div class="container">
  <div class="panel">
    <div class="panel-header">
      <div class="panel-title">Out of the box</div>
    </div>
    <div class="panel-body padding">
      <ul class="pagination">
        <li><i class="fa fa-angle-double-left"></i></li>
        <li><i class="fa fa-angle-left"></i></li>
        <li>1</li>
        <li>2</li>
        <li class="active">3</li>
        <li class="disabled"><i class="fa fa-angle-double-right"></i></li>
        <li class="disabled"><i class="fa fa-angle-right"></i></li>
      </ul>
      <p *ngIf="user.email">Hello {{user.email}}</p>
      <p *ngIf="electron.isElectron()">App <strong>IS</strong> running on electron</p>
      <p *ngIf="!electron.isElectron()">App is <strong>NOT</strong> running on electron</p>
      <button class="button-primary" (click)="openModal()">Open Modal</button>
      <button class="button-green" (click)="openModal()">Open Modal</button>
      <button class="button-red" (click)="openModal()">Open Modal</button>
      <button class="button-orange" (click)="openModal()">Open Modal</button>
      <hr />
      <input class="margin-bottom" type="text" name="" value="">
      <app-date-range class="margin-bottom"></app-date-range>
      <app-codemirror [(ngModel)]="codemirrorValue"></app-codemirror>
    </div>
  </div>
</div>
