.modal {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(15, 33, 43, 0.7);
  padding: 1rem;
  &--backdropDisabled {
    background-color: transparent;
  }
  &__content {
    background-color: #fefefe;
    border-radius: 4px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .2);
    margin: 0 auto;
    padding: 1rem;
    overflow: auto;
    min-width: 280px;
    max-width: 1440px;
  }
  &__close {
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    top: 1.25rem;
    right: .75rem;
    height: 32px;
    width: 32px;
    z-index: 100;
    &Icon {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100vh);
  }
  70% {
    transform: translateY(5vh);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100vh);
  }
  70% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100vw);
  }
  70% {
    transform: translateX(5vw);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100vw);
  }
  70% {
    transform: translateX(-5vw);
  }
  100% {
    transform: translateX(0px);
  }
}
