@import '~scss/theming';

.nav {
  background-color: $oc-gray-8;
  box-shadow: 0 2px 4px rgba($oc-gray-9, .5);
  color: $oc-gray-2;
  position: relative;
  z-index: 10;
  &-upper {
    background-color: $oc-gray-9;
  }
  &-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    &-upper {
      padding: .4rem 1rem;
    }
  }
  &-spacer {
    flex-grow: 1;
  }
  &-title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans';
    letter-spacing: 1.2px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
  }
  &-link {
    color: $oc-gray-2;
    cursor: pointer;
    font-size: 14px;
    margin-left: 32px;
    &-icon {
      margin-right: 4px;
    }
    &--small {
      font-size: 12px;
      margin-left: 4px;
    }
  }
  &-search {
    position: relative;
    input {
      border: 1px solid rgba(255, 255, 255, .12);
      color: $oc-gray-2;
    }
    &-icon {
      position: absolute;
      top: 5px;
      right: 8px;
    }
  }
}
