<div class="nav nav-upper">
  <div class="nav-content nav-content-upper">
    <div class="nav-link nav-link--small" *ngIf="authenticated && superuser"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>Admin</div>
    <div class="nav-spacer"></div>
    <div class="nav-links" *ngIf="authenticated">
      <a class="nav-link nav-link--small" *ngIf="authenticated && superuser">
        <span class="nav-link-icon"><i class="fa fa-ban fa-fw" aria-hidden="true"></i></span>
        <span>Reports</span>
      </a>
      <a class="nav-link nav-link--small">
        <span class="nav-link-icon"><i class="fa fa-inbox fa-fw" aria-hidden="true"></i></span>
        <span>Inbox</span>
      </a>
      <!-- TODO: implement dropdown -->
      <a class="nav-link nav-link--small">
        <span class="nav-link-icon"><i class="fa fa-ban fa-fw" aria-hidden="true"></i></span>
        <span>Notifications</span>
      </a>
      <a class="nav-link nav-link--small">
        <span class="nav-link-icon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
        <span>Account</span>
      </a>
      <a class="nav-link nav-link--small">
        <span class="nav-link-icon"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></span>
        <span>Settings</span>
      </a>
      <a class="nav-link nav-link--small" [routerLink]="['/login']">
        <span class="nav-link-icon"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></span>
        <span>Sign out</span>
      </a>
    </div>
    <div class="nav-links" *ngIf="!authenticated">
      <a class="nav-link nav-link--small" *ngIf="!authenticated" [routerLink]="['/login']">
        <span class="nav-link-icon"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i></span>
        <span>Sign in</span>
      </a>
      <a class="nav-link nav-link--small" *ngIf="!authenticated" (click)="openSignUpModal()">
        <span class="nav-link-icon"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i></span>
        <span>Sign up</span>
      </a>
    </div>
  </div>
</div>
<div class="nav">
  <div class="nav-content">
    <a class="nav-title" [routerLink]="['/home']">Punk Web</a>
    <a class="nav-link">Forum</a>
    <a class="nav-link">Members</a>
    <div class="nav-spacer"></div>
    <form action="/board/search/" method="get">
      <div class="nav-search">
        <span class="nav-search-icon fa fa-search"></span>
        <input id="id_keyword" maxlength="80" name="keyword" type="text" placeholder="Search" />
      </div>
    </form>
  </div>
</div>
