@import '~scss/theming';

.nav {
  background-color: $oc-gray-8;
  box-shadow: 0 2px 4px rgba($oc-gray-9, .5);
  color: $oc-gray-2;
  position: relative;
  z-index: 10;
  &-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .75rem 1rem;
  }
  &-spacer {
    flex-grow: 1;
  }
  &-title {
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
  }
  &-link {
    color: $oc-gray-2;
    font-size: 14px;
    margin-right: 1rem;
    text-decoration: none;
    &-icon {
      margin-right: .5em;
    }
    &:hover, &:active {
      color: $primary;
    }
  }
}
