// TODO: Checkboxes
// TODO: Radio Buttons
// TODO: Indeterminate Progress
// TODO: Meters

* { box-sizing: border-box; }

html, body {
  color: white;
  font-family: 'Open Sans';
  font-size: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-blend-mode: multiply, normal;
  background-image: radial-gradient(circle at 0 50%, #4a5dff, #a86dff),
                    linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                    radial-gradient(circle at 50% 40%,
                    rgba(255, 255, 255, 0.7),
                    rgba(0, 0, 0, 0.5));
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1rem;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: bold;
}

.breadcrumb {
  color: white;
  font-size: 14px;
  list-style: none;
  padding: 3rem 1rem;
  text-align: center;
  margin: 0;
  width: 100%;

  li {
    display: inline;

    a {
      color: $primary;
    }
  }
  li+li:before {
    color: white;
    content: "/\00a0";
    margin: 0 0.5rem;
  }
}

.pagination {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  li {
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  .disabled {
    opacity: .2;
    cursor: not-allowed;
  }
}

hr {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.1);
  height: 1px;
  width: 100%;
}

img, iframe {
  max-width: 100%;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 1rem;
  padding: 1rem;
}

figure {
  margin: 2rem 1rem;
}

figcaption {
  font-weight: 300;
}

details, summary {
  outline: none;
}

a {
  color: $primary-active;
  text-decoration: none;
  transition: color 0.25s ease-in-out, text-shadow 0.25s ease-in-out;

  &:link, &:visited {
    color: $primary-active;
  }
  &:hover {
    text-decoration: underline;
  }
}

mark {
  background-color: $oc-yellow-0;
}

pre {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: white;
  margin: 0 1rem;
  padding: 1rem;
}

code {
  color: white;
}

.tableContainer {
  overflow-x: auto;
}

table {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 4px;
  border-collapse: collapse;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  color: white;
  font-family: 'Open Sans';
  outline: none;
  text-align: left;
  min-width: 480px;
  width: calc(100% - 1px); // -1px fixes scroll issue with .tableContainer

  caption {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  th, td {
    padding: 1rem 2rem;
  }
  th {
    font-size: 14px;
    &:first-child {
      border-top-left-radius: 4px;
    }
    &:last-child {
      border-top-right-radius: 4px;
    }
  }
  td {
    font-size: 16px;
  }
  thead {
    color: white;
    text-align: center;
    background-image: linear-gradient(to left, #5d75e7, #661e92);
  }
}

.panel {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: $default-text-on-dark;
  margin-bottom: 1rem;
  margin-top: 1rem;

  &-header {
    align-items: center;
    background-image: linear-gradient(to left, #5d75e7, #661e92);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    padding: 1rem;
  }
  &-title {
    color: white;
    font-size: 16px;
    font-weight: 500;
  }
  &-body {
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 16px;
    a {
      color: $primary;
    }
  }
  &-footer {
    font-size: 14px;
    padding: 1rem;
  }
}

fieldset {
  border-radius: 4px;
  border: 2px solid rgba(255, 255, 255, .1);
}

label {
  font-weight: 300;
  font-size: 14px;
}

legend {
  font-family: 'Open Sans';
  font-weight: 600;
}

input, select, textarea {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, .1);
  color: white;
  font-size: 16px;
  outline: none;
  padding: 0.25rem 0.5rem;
  transition: box-shadow 0.25s ease-in-out;
}

option, optgroup {
  color: black;
}

input[type="color"] {
  padding: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

input[type="range"]:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: $oc-gray-2;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, .75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $oc-gray-2;
}

input[type="range"]::-moz-range-track {
  background: $oc-gray-2;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  height: 7px;
}

input[type=range]::-moz-range-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, .75);
  cursor: pointer;
  height: 22px;
  margin-top: -8px;
  width: 22px;
}

input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-radius: 100px;
  border-width: 22px 0;
  box-shadow: none;
  color: transparent;
  cursor: pointer;
  height: 7px;
}

input[type="range"]::-ms-fill-lower {
  background: $primary;
  border: none;
  border-radius: 100px;
  box-shadow: none;
}

input[type="range"]::-ms-fill-upper {
  background: $oc-gray-2;
  border: none;
  border-radius: 100px;
  box-shadow: none;
}

input[type="range"]::-ms-thumb {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px rgba(152, 152, 152, .75);
  cursor: pointer;
  height: 22px;
  margin-top: -3px;
  width: 22px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: $primary-hover;
}

input[type="range"]:focus::-ms-fill-upper {
  background: $oc-gray-2;
}

input:focus, select:focus, textarea:focus {
  box-shadow: none;
  outline: none !important;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1), 0px 0px 6px $primary;
  border-color: $primary;
}

input:invalid, select:invalid, textarea:invalid {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1), 0px 0px 6px $error;
  border-color: $error;
}

progress, progress[value] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid $oc-gray-4;
  border-radius: 2px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
  color: $primary;
  height: 2rem;
}

progress::-ms-fill {
  background-color: $primary;
  border: none;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
  color: $primary;
}

progress::-moz-progress-bar {
  background-color: $primary;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $primary;
  border-radius: 1px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
}

@mixin button($background, $color) {
  appearance: none;
  background-color: $background;
  border: 1px solid $background;
  border-radius: 2px;
  color: $color !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  outline: none;
  padding: .75rem 1rem;
  min-width: 100px;
  text-align: center;
  text-decoration: none !important;
  transition: all .25s ease-in-out;
  &:hover {
    background-color: mix(black, $background, 10%);
    border-color: mix(black, $background, 10%);
  }
  &:disabled {
    background-color: $oc-gray-5;
    border: 1px solid $oc-gray-6;
    cursor: not-allowed;
    &:hover {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    }
  }
}

@mixin button-hollow($background, $color) {
  @include button($background, $color);
  background: transparent;
  border: 1px solid $background;
  color: $background !important;
  &:hover {
    background-color: $background;
    color: $color !important;
  }
  &:active {
    background-color: $background;
    color: $color !important;
  }
  &:disabled {
    background-color: transparent;
    border: 1px solid $oc-gray-5;
    color: $oc-gray-7 !important;
  }
}

.button {
  @include button($oc-gray-7, white);
  &-primary {
    @include button($primary, #474167);
  }
}

.button-hollow {
  @include button-hollow($oc-gray-7, white);
  &-primary {
    @include button-hollow($primary, #474167);
  }
}

/*
How to style meters cross browser
https://css-tricks.com/html5-meter-element/
*/
