@import 'open-color';

$primary: #ffb968;
$primary-hover: lighten($primary, 5%);
$primary-active: darken($primary, 10%);

$secondary: $oc-orange-7;
$secondary-hover: lighten($secondary, 5%);
$secondary-active: darken($secondary, 10%);

$default-text-on-dark: darken(white, 10%);
$default-text: $default-text-on-dark;
$input-placeholder: $default-text-on-dark;

$hr: mix(black, white, 10%);

$error: $oc-red-7;

$badge-background: $oc-red-9;
$badge-text: $oc-white;

$dropdown: mix(black, $primary, 65%);
$dropdown-shadow: 0px .5rem 1rem 0px rgba(0, 0, 0, 0.2);
