<div class="container">
  <div class="flex-row">
    <div class="flex-column flex-3">
      <div class="panel margin-bottom" *ngFor="let category of categories">
        <div class="panel-body">
          <table>
            <thead>
              <tr>
                <th class="align-left" width="40%">
                  <a (click)="routeToCategory(category)">{{category.name}}</a>
                </th>
                <th class="align-center" width="10%">
                  Threads
                </th>
                <th class="align-center" width="10%">
                  Posts
                </th>
                <th class="align-left hide-on-mobile" width="30%">
                  Last Thread
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sub of subcategories">
                <td class="align-left">
                  <div><a>{{sub.name}}</a></div>
                  <div>{{sub.description}}</div>
                </td>
                <td class="align-center">
                  <div>{{sub.thread_count}}</div>
                </td>
                <td class="align-center">
                  <div>{{sub.post_count}}</div>
                </td>
                <td class="align-left hide-on-mobile">
                  <div *ngIf="sub.last_thread">
                    <a>
                      {{sub.last_thread_title}}
                    </a>
                    <div>{{sub.last_thread_created|date:"MMM dd, yyyy, h:mm a"}}</div>
                    <div>by
                      <a routerLink="/board/profile/" [innerHTML]="sanitize(sub.last_thread_user)"></a>
                    </div>
                  </div>
                  <div *ngIf="!sub.last_thread">
                    No Threads
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex-column flex-1 margin-left">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">Welcome</div>
        </div>
        <div class="panel-body padding">
          <div>
            Hello <a routerLink="/board/me/" [innerHTML]="sanitize((authUser | async)?.rendered_username)"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
